/*** navigation ***/
	#search-form {
		margin-left: 120px;
	}

/*** forms ***/
	#signin-switch, #signup-switch {
		float: left;
		width: 100%;
		text-align: center;
		font-weight: bold;
		text-decoration: none;
		outline: none;
		color: #3377dd;
		font-family: monospace;
		cursor: pointer;
	}

	#signin-switch:hover, #signup-switch:hover, #signin-switch:focus, #signup-switch:focus {
		text-shadow: 0px 0px 5px #3377dd;
	}